$gutter: 1rem; //for primeflex grid system
@import '../styles/css/layout';

/* PrimeVue */
@import 'primevue/resources/primevue.min.css';
@import 'primeflex/primeflex.scss';
@import 'primeicons/primeicons.css';

